---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '@/components/sections/Hero.astro';
import Benefits from '@/components/sections/Benefits.astro';
---

<BaseLayout title="Booth Pub - Snap it. Sip it. Share it.">
  <main>
    <Hero />
    <Benefits />
  </main>
</BaseLayout>
